[commit]
    gpgsign = true
[alias]
    co = checkout
    ci = commit -s -m
    cia = commit -s --amend
    cian = commit -s --amend --no-edit
    ciana = commit -s --amend --no-edit --allow-empty
    st = status
    br = branch
    re = remote
    sy = "!f() { git checkout $2 && git pull $1 $2 && git push origin $2; }; f"
    cu = !sh -c 'git remote | xargs -n 1 git remote prune'
[pull]
    rebase = true
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    line-numbers = true    
    side-by-side = true
    navigate = true  # use n and N to move between diff sections
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
